{% extends 'index.html' %}
{% block title %}Despesas{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Data de criação</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor (R$)</th>
            <th scope="col">Pago</th>
            <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
                <tr>
                    <th scope="row">{{expense.date.strftime("%d/%m/%Y")}}</th>
                    <td>{{expense.description}}</td>
                    <td>{{expense.value}}</td>
                    <td>{{expense.paid}}</td>
                    <td class="d-flex gap-2">
                    <form action="/expenses/{{expense.id}}" method="get">
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </form>
                    <form action="/expenses/delete/{{expense.id}}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>            
        </table>
        
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form action="/expenses" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastro de despesa</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Descrição</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="description">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Valor</span>
                        <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="value">
                    </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </div>
                </div>
        </form>
    </div>
{% endblock %}