{% extends 'index.html' %}
{% block title %}Despesas{% endblock %}

{% block content %}
    <ul class="nav nav-pills nav-expense-table justify-content-end bg-light pb-2 pt-2 ps-2 pe-2 rounded border">
        <li class="nav-item">
            <button type="button" class="btn btn-success" id= "btn-add-new-expense" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Nova despesa
            </button>
        </li>
    </ul>

    <div class="container bg-light pb-1 pt-3 rounded border">
        <table class="table table-bordered">
            <thead>
                <tr class="text-center">
                    <th scope="col" class="bg-secondary text-white col-2">Data de vencimento</th>
                    <th scope="col" class="bg-secondary text-white col-4">Descrição</th>
                    <th scope="col" class="bg-secondary text-white col-2">Valor (R$)</th>
                    <th scope="col" class="bg-secondary text-white col-1">Pagamento</th>
                    <th scope="col" class="bg-secondary text-white col-2">Opções</th>
                </tr>
            </thead>
            <tbody>
                {% if not expenses %}
                    <tr>
                        <td colspan="5" class="text-center fw-bold">Nenhuma despesa cadastrada.</td>
                    </tr>
                {% else %}
                    {% for expense in expenses %}
                        <tr class="text-center al">
                            <th scope="row" class="align-middle">{{expense.dueAt.strftime("%d/%m/%Y")}}</th>
                            <td class="align-middle">{{expense.description}}</td>
                            <td class="align-middle">{{expense.value}}</td>
                            <td class="align-middle">
                                {% if expense.paidAt is none %}
                                    PENDENTE
                                {% else %}
                                    {{ expense.paidAt }}
                                {% endif %}
                            </td>
                            <td class="d-flex gap-2 justify-content-center">
                                <form action="/expenses/{{expense.id}}" method="get">
                                    <button type="submit" class="btn btn-primary">Editar</button>
                                </form>
                                <form action="/expenses/delete/{{expense.id}}" method="post">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-danger">Excluir</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}

            </tbody>            
        </table>
    </div>
        
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form action="/expenses" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastro de despesa</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Descrição</span>
                            <input type="text" required class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="description">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Categoria</span>
                            <select class="form-select" name="category" aria-labelledby="inputGroup-sizing-sm" id="categorySelect">
                                <option value="1">Administrativa</option>
                                <option value="2">Manutenção</option>
                                <option value="3">Marketing</option>
                                <option value="3">Pessoal</option>
                                <option value="3">Outras Despesas</option>
                                <option value="3">Despesa Não-operacional</option>
                            </select>
                        </div>
                        

                        <div class="row mb-3">
                            <div class="input-group input-group-sm date-wrapper">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Vencimento</span>
                                <input type="date" required class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="dueAt">
                            </div>
                            <div class="input-group input-group-sm value-wrapper">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Valor</span>
                                <input type="number" required step="0.01" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="value">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </div>
                </div>
        </form>
    </div>
{% endblock %}