{% extends 'index.html' %}
{% block title %}Despesas{% endblock %}

{% block content %}
    <div>
        <div class="update-expense-header">
            <h2>Edição de despesa</h2>
            {% if expense.paidAt is not none %}
                <img src="{{ url_for('static', filename='assets/paid-stamp.png') }}" class="paid-stamp" alt="carimbo de despesa paga">
            {% elif expense.dueAt < today %}
                <img src="{{ url_for('static', filename='assets/overdue-stamp.png') }}" class="paid-stamp" alt="carimbo de despesa vencida">
            {% else %}
                <img src="{{ url_for('static', filename='assets/pending-stamp.png') }}" class="paid-stamp" alt="carimbo de despesa pendente">
            {% endif %}
        </div>

        <div class="container text-center bg-light pb-2 pt-3 rounded border">
            <form action="/expenses/update/{{expense.id}}" method="post">
                <div class="row">
                    <div class="input-group mb-3 col">
                        <span class="input-group-text" id="basic-addon1">ID</span>
                        <input disabled type="text" name="id" id="id-on-fetch" class="form-control" value="{{expense.id}}" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3 col">
                        <span class="input-group-text" id="basic-addon1">Criação</span>
                        <input disabled type="text" name="createdAt" class="form-control" value="{{expense.createdAt.strftime('%d/%m/%Y')}}" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Descrição</span>
                        <input type="text" name="description" class="form-control" value="{{expense.description}}" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Categoria</span>
                        <select class="form-select" name="category" aria-labelledby="inputGroup-sizing-sm" id="categorySelect">
                            <option value="Administrativa" {% if selected_category == "Administrativa" %}selected{% endif %}>Administrativa</option>
                            <option value="Manutenção" {% if selected_category == "Manutenção" %}selected{% endif %}>Manutenção</option>
                            <option value="Marketing" {% if selected_category == "Marketing" %}selected{% endif %}>Marketing</option>
                            <option value="Pessoal" {% if selected_category == "Pessoal" %}selected{% endif %}>Pessoal</option>
                            <option value="Outras Despesas" {% if selected_category == "Outras Despesas" %}selected{% endif %}>Outras Despesas</option>
                            <option value="Despesa Não-operacional" {% if selected_category == "Despesa Não-operacional" %}selected{% endif %}>Despesa Não-operacional</option>
                        </select>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="input-group mb-3 col">
                        <span class="input-group-text" id="basic-addon1">Valor</span>
                        <input type="number" step="0.01" name="value" class="form-control" value="{{expense.value}}" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Vencimento</span>
                        <input type="date" required class="form-control" aria-label="Sizing example input" value="{{expense.dueAt}}" aria-describedby="inputGroup-sizing-sm" name="dueAt">
                    </div>
                    <div class="input-group mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Pagamento</span>
                        <input type="date" class="form-control" aria-label="Sizing example input" value="{{expense.paidAt}}" aria-describedby="inputGroup-sizing-sm" name="paidAt">
                    </div>                                      
                </div>
                <div class="align-items-center text-end">
                    <button type="button" class="btn btn-secondary" onclick="window.location.href='/'">Cancelar</button>
                    <button type="button" class="btn btn-danger" id = "btn-delete-on-fetch">Excluir</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}