.container {
    margin-top: 2rem;
}

html, body {
    height: 100%;
    margin: 0;
  }

.content {
  min-height: 100%; /* A altura mínima é 100% da tela */
  display: flex;
  flex-direction: column; /* Organiza os itens de cima para baixo */
}

.main-content {
  flex: 1; /* Preenche o espaço restante */
}

.nav-expense-table {
  align-items: center;
  width: 100%;

}

footer {
  padding: 20px;
  text-align: center;
}

.expense-table-checkbox {
  pointer-events: none; /* Impede qualquer interação com o checkbox */
}

/* Remover os botões de incremento e decremento */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Para Firefox */
}

.modal-dialog {
  .row {
    display: flex;
    .date-wrapper{
      width: 60%;
    }
    .value-wrapper{
      width: 40%;
    }

  }
}


  